/* 
    Document   : estiloListados
    Created on : 06/05/2014, 02:10:56 PM
    Author     : Usuario
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#bloquePrincipalListados{
    background-color: #ffe7d0;
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 79%;
    min-height:620px;    

}

#bloqueSubMenuListados{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 20%;
    min-height:620px;
}
