
#bloqueBusqueda{
    margin-left: 16em;
    display: inline-block;
    vertical-align: top;
}

.btnAceptar{
    margin-top: 1.5%;
}

#bloqueSubMenuBuscar{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 20%;
    min-height:500px;
}