
.tituloPag{
    text-align: center;
    font-size: 2.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #451a05;
}

.labels{
    font-size: 1.3em;
    font-style: initial;
    color:#451a05;
}

.input{
    width: 70%;
    height: 1.7em;
    border-radius: 0.4em;
    margin-bottom: 3%;
}

.inputArea{
    width: 70%;
    height: 8em;
    border-radius: 0.4em;
}

#bloqueLabelventa1{
    margin-left: 9em;
    margin-right: 9em;
    display: inline-block;
    vertical-align: top;    
    max-width: 400px;
}

#bloqueLabelventa2{
    margin-left: 9em;
    display: inline-block;
    vertical-align: top;    
    min-width: 400px;
}

#bloqueLabels1{
    margin-left: 9em;
    display: inline-block;
    vertical-align: top;    
    max-width: 400px;
}

#bloqueLabels2{
    display: inline-block;
    vertical-align: top;    
    min-width: 400px; 
}

#bloqueIngresarCedula{
    margin-left: 28em;
    display: inline-block;
    vertical-align: top;    
    max-width: 400px;
}

.btnAceptar{
    width: 20%;
    margin-left: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0.2em 0.2em;
}

.btnAdd{
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0.2em 0.2em;
}

/*------------css para bloque del submenu----------------*/
#bloqueSubMenu{
    min-height:775px;
}

/*------------css para bloque del submenu agregarEmpleado----------------*/
#bloqueSubMenuAgregarEmpleado{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 20%;
    min-height:690px;
}

/*------------css para bloque del submenu agregarCliente----------------*/
#bloqueSubMenuAgregarCliente{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 20%;
    min-height:530px;
}

/*------------css para bloque del submenu ingresarLibro----------------*/
#bloqueSubMenuIngresarLibros{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 20%;
    min-height:550px;
}

/*------------css para bloque del submenu reporte de venta----------------*/
#bloqueSubMenuReporteVenta{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 20%;
    min-height:500px;
}