/* 
    Document   : estiloIndex
    Created on : 17/04/2014, 12:13:37 AM
    Author     : José Luis
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
/*    background-color: #cccccc;*/
}



/*------------------------------------------HEADER---------------------------------*/

header{
    background-color: #999999;
    margin: 0.5em auto;
    max-width: 96%;
    border: 0.1em solid;
}

#title{
    text-align: center;
    margin-top: -3%;
}

#msjBienvenida{
    font-size: 1.5em;
}

/*------------------------------------------NAV---------------------------------*/
nav{
    margin: 0.5em auto;
    max-width: 96%;
}


/*Menu del nav*/
#nav_menu {
    display: inline-block;
    list-style: none;
    font-family: serif;
    background-color: rgba(51,138,192,0.4);
    /*box-shadow: 0.2em 0.2em 0.2em 0.2em #0A0130; /*borde con sombra */
    border: 0.1em solid;
    width: 92.5%;
    /*text-align: center;*/
}

/*Boton Salir*/
#btnSalir {
    display: inline;
}

#formSalir {
    display: inline;
}

#linkSalir{
    text-align: left;
    text-decoration:none;
}

/*Cada elemento del menu*/
#nav_menu li,#btnSalir li {
    cursor: pointer;
    background-color: #999999;
    display: inline-block;
    text-align: center;
    padding: 1.5%;
    border: 0.1em solid;
    vertical-align: top;
    font-size: 1.3em;
}


/*Primer elemento del menu (INICIO)*/
/*li.items:nth-child(1) {
    background-color: #3C88DF;
    border: 0.1em solid;
    color: White;
}*/



/*Cada elemento del menu cuando el puntero esta sobre el elemento*/
li.items:hover {
    background-color: #D20005;
    border: 0.1em solid;
    color: White;
    font-size: medium;
}

/*--------------------------------------SECTION--------------------------------*/
section {
    max-width: 96%;
    margin: 0.5em auto;
    /*width: 68%;        
    vertical-align: top;*/
}

#bloqueSubMenu{
    background-color: rgba(51,138,192,0.4);
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    /*border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em #0A0130; /*borde con sombra */
    /*margin-top: 4em;
    margin-right: 4em;
    padding: 3em;*/
    min-width: 20%;
    min-height:500px;
}

.btnsSubMenu{
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    cursor: pointer;
    margin-left:  1.2em ;
    margin-bottom: 1em;
    margin-top: 0.6em;
    width: 82%;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0.2em 0.2em;
}

#bloquePrincipal{
    background-color: #ffe7d0;
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    min-width: 79%;
    min-height:500px;    

}

/*Bloque de listado*/
#bloqueListado{
    width: 700px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}


/*---------------------Bloque para nueva venta-----------------------*/

#bloqueNuevaVenta{
    background-color: #ffe7d0;
    display: inline-block;
    vertical-align: top;
    border: 0.08em solid;
    /*border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em #0A0130; /*borde con sombra */
    /*margin-top: 4em;
    margin-right: 4em;
    padding: 3em;*/
    min-width: 100%;
    min-height:500px;    

}
