target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
LibreriaDonQuijote/src/main/webapp/WEB-INF/newSpringXMLConfig.xml
LibreriaDonQuijote/src/main/webapp/WEB-INF/newSpringXMLConfig1.xml
